<a href="https://colab.research.google.com/github/Jakub-P-lab/WSSI-Jakub-Pietryka-Kogni/blob/Prolog/prolog_zadania.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chciałbym zaznaczyć, że wszystkie kody były sprawdzane w pobranej wersji prologa.

**Zadanie 1**

In [ ]:
ojciec(jan, anna).
ojciec(jan, piotr).
ojciec(marcin, adam).
matka(maria, anna).
matka(maria, piotr).
matka(ewa, adam).

rodzic(X, Y) :- ojciec(X, Y).
rodzic(X, Y) :- matka(X, Y).

przodek(X, Y) :-
    rodzic(X, Y),
    X \= Y.

malzenstwo(jan, maria).
malzenstwo(marcin, ewa).
malzenstwo(X, Y) :-
    malzenstwo(Y, X).

mezczyzna(jan).
mezczyzna(piotr).
mezczyzna(marcin).
kobieta(anna).
kobieta(maria).
kobieta(ewa).

brat(X, Y) :-
    rodzic(Z, X),
    rodzic(Z, Y),
    X \= Y,
    mezczyzna(X).

brat(jan, marcin).

siostra(X, Y) :-
    rodzic(Z, X),
    rodzic(Z, Y),
    X \= Y,
    kobieta(X).

kuzyn(X, Y) :-
    malzenstwo(A, B),
    brat(A, C),
    rodzic(C, X),
    rodzic(A, Y),
    A \= B,
    C \= A,
    X \= Y,
    !.

1. ?- przodek(jan, anna). wyświetla: **true**
2. ?- brat(piotr, anna). wyświetla: **true**
3. ?- kuzyn(X, piotr). wyświetla: **X = adam** gdzie Adam jest kuzynem Piotra


---

**Zadanie 2**

In [ ]:
lotnisko(warszawa).
lotnisko(krakow).
lotnisko(gdansk).
polaczenie(warszawa, krakow, 200).
polaczenie(krakow, gdansk, 200).
polaczenie(warszawa, gdansk, 500).

polaczenie(A, B) :- polaczenie(A, B, _).
koszt_podrozy(A, B, C) :- polaczenie(A, B, C).
cena(X) :- polaczenie(_, _, X).

najkrotsza_droga(A, B) :-
    lotnisko(A),
    lotnisko(B),
    A \= B,
    polaczenie(A, X, C),
    polaczenie(X, B, D),
    polaczenie(A, B, G),
    F is C + D,
    F =< G,
    write('trasa przez '), write(X), write(' '), write('koszt '), write(F),
    !;
    polaczenie(A, B, G),
    write('trasa przez '), write(B), write(' '), write('koszt '), write(G),
    !.

1. ?- polaczenie(warszawa, krakow). wyświetla: **true**
2. ?- koszt_podrozy(warszawa, gdansk, C). wyświetla: **C = 500**
3. ?- najkrotsza_droga(warszawa, gdansk). wyświetla: **trasa przez krakow koszt 400** **true.**


---

**Zadanie 3**

In [ ]:
:- dynamic produkt/3.

produkt(tv, 10, sektor_a).
produkt(pralka, 5, sektor_b).
produkt(lodowka, 3, sektor_c).

dostepny_produkt(A) :-
    produkt(A, B, _),
    B > 0.
    !.

przenies_produkt(A, C) :-
    produkt(A, B, _),
    retract(produkt(A, B, _)),
    assert(produkt(A, B, C)),
    write(produkt(A, B, C)),
    !.


uzupelnij_stan(A, X) :-
    retract(produkt(A, B, C)),
    Y is B + X,
    assertz(produkt(A, Y, C)),
    write(produkt(A, Y, C)),
    !.

1. ?- dostepny_produkt(tv). wyświetla: **true**
2. ?- przenies_produkt(tv, sektor_b). wyświetla: **produkt(tv,10,sektor_b)** **true.**

oraz po sprawdzeniu ?- produkt(tv, B, C). wyświetla:
**B = 10** i **C = sektor_b**

3. ?- uzupelnij_stan(pralka, 3). wyświetla: **produkt(pralka,8,sektor_b)** **true.**

oraz po sprawdzeniu ?- produkt(pralka, B, sektor_b). wyświetla:
**B = 8**



---
**Zadanie 4**

In [ ]:
miasto(warszawa).
miasto(krakow).
miasto(poznan).
droga(warszawa, krakow, 3).
droga(krakow, poznan, 3).
droga(warszawa, poznan, 7).

droga(A, B) :-
    droga(A, B, _), !.

czas_przejazdu(A, B, T) :-
    droga(A, B, T), !.

najkrotsza_trasa(A, B) :-
    miasto(A),
    miasto(B),
    A \= B,
    droga(A, X, C),
    droga(X, B, D),
    droga(A, B, G),
    F is C + D,
    F =< G,
    write('trasa przez '), write(X), write(' '), write('czas '), write(F),
    !;
    droga(A, B, G),
    write('trasa przez '), write(B), write(' '), write('czas '), write(G),
    !.

1. ?- droga(warszawa, krakow). wyświetla: **true**
2. ?- czas_przejazdu(warszawa, poznan, T). wyświetla: **T = 7**
3. ?- najkrotsza_trasa(warszawa, poznan). wyświetla **trasa przez kraków czas 6 true**


---
**Zadanie 5**

In [ ]:
ksiazka('W pustyni i w puszczy', sienkiewicz, przygodowa).
ksiazka('Hobbit', tolkien, fantasy).
ksiazka('Pan Tadeusz', mickiewicz, poezja).
ocena(uzytkownik1, 'W pustyni i w puszczy', 5).
ocena(uzytkownik1, 'Hobbit', 4).
ocena(uzytkownik1, 'Pan Tadeusz', 3).
preferencje(uzytkownik1, fantasy).
preferencje(uzytkownik1, przygodowa).

polecane_ksiazki(A, B) :-
    preferencje(A, B),
    findall(D, (ksiazka(D, _, B),
              ocena(A, D, X),
              X >= 4), Y),
    write(Y).

?- polecane_ksiazki(uzytkownik1, fantasy). wyświetla: **[Hobbit] true.**

Z dodatkowym założeniem, że wysoka ocena = wyższa lub równa 4.